---
import Base from '../layouts/Base.astro'
import Hero from '../components/Hero.astro'
import Navbar from '../components/Navbar.astro';
import Donate from '../components/Donate.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import config from "../config";
---


<Base>
	<Navbar />
	<Hero />
	<!-- <Projects />  -->
	<Donate />
	<Contact /> 
	<Footer />
</Base>