---
import config from "../config";
---

<section class="container" id="contact">
    <h2>contact me</h2>
    <p>
        you can reach me out at
        <a href={"mailto:" + config.email}>{config.email}</a>
        or via <a href={config.linkedin}>linkedin</a>
    </p>
</section>

<style>
    a {
        text-decoration: underline;
    }
</style>
