---
import config from "../config";
---

<section class="container" id="donate">
    <h2>the greatest thanks is to pay someone :’)</h2>
    <p>
        I built several open source tools all for free of charge, consider <a
            href={config.donate}
            ><span class="cool-text">donating</span>
        </a> to keep the good comes to the humanity. thanks.
    </p>
</section>

<style>
    a {
        font-weight: 500;
        font-size: 1.2em;
    }
</style>
