<footer>
    <p>© Made by abdulrahman using <a href="https://astro.build">astrojs</a></p>
</footer>

<style>
    footer {
        padding: 1rem 0;
    }

    a {
        text-decoration: underline;
    }
</style>
