---
import config from '../config'
---


<section class="container">
    <h2>The greatest of richness is the richness of the soul.</h2>
    <p>{config.description}</p>
</section>


<style>
    section {
        padding-top: 6.25rem;
    }


    section {
        justify-content: unset !important;
    }

</style>