---
import config from "../config";
---

<nav>
    <h1 class="title">@{config.title}</h1>
    <ul>
        <li><a onclick="playRandomSong()">#random_song</a></li>
        <li><a href="#donate">#donate</a></li>
        <li><a href="#work">#projects</a></li>
        <li><a target="_blank" href="https://github.com/abdulrahman1s">#github</a></li>
        <li><a href="#contact">#contact</a></li>
    </ul>
</nav>

<script is:inline>
    let song = null,
        lastPlayedSongIndex = null;
        
    const songs = [
        "Limahl  Never Ending Story Official Music Video.mp3",
        "Rick Astley  Never Gonna Give You Up Official Music Video.mp3",
        "Portal Still Alive.mp3",
        "What a wonderful world.mp3",
    ];

    function getRandomSong() {
        const i = Math.floor(Math.random() * songs.length);
        if (i === lastPlayedSongIndex) return getRandomSong();
        lastPlayedSongIndex = i;
        return songs[i];
    }

    function playRandomSong() {
        if (song) song.pause();
        song = new Audio(getRandomSong());
        song.play();
    }

    const delay = (n) => new Promise((r) => setTimeout(r, n));

    let running = false;

    async function write(element, txt) {
        if (running) return;

        running = true;

        for (const _ of element.textContent) {
            element.textContent = element.textContent.slice(0, -1);
            await delay(20);
        }

        for (const char of txt) {
            element.textContent += char;
            await delay(50);
        }

        running = false;
    }

    const title = document.querySelector(".title");
    const original = title.textContent;

    title.addEventListener("mouseover", function () {
        const names = ["a_developer", "a_ninja", "an_engineer", "a_programmer"];
        write(this, "@" + names[Math.floor(Math.random() * names.length)]).then(
            () => delay(1000).then(() => write(this, original))
        );
    });
</script>

<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.25rem 1.25rem;
    }

    h1 {
        font-size: 2rem;
        font-weight: 300;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        gap: 2.5rem;
    }

    a {
        font-size: 1.5rem;
        font-weight: 300;
    }

    a:hover {
        color: inherit;
        text-decoration: underline;
    }

    @media (max-width: 768px) {
        nav {
            justify-content: center;
        }

        .title {
            display: none;
        }

        a {
            font-size: 1rem;
        }

        ul {
            gap: 1rem;
        }
    }
</style>
