---
import config from "../config";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <title>{config.title}</title>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>

        <main>
            <canvas id="starfield" width="1300" height="1000"></canvas>
            <slot />
        </main>

        <script is:inline>
            function getRandom(min, max) {
                return Math.floor(Math.random() * (max - min + 1)) + min;
            }

            const canvas = document.getElementById("starfield"),
                context = canvas.getContext("2d"),
                stars = 600,
                colors = [0, 60, 240];

            for (let i = 0; i < stars; i++) {
                let x = Math.random() * canvas.offsetWidth,
                    y = Math.random() * canvas.offsetHeight,
                    radius = Math.random() * 1.2,
                    hue = colors[Math.floor(Math.random() * colors.length)],
                    sat = getRandom(50, 100);
                context.beginPath();
                context.arc(x, y, radius, 0, 360);
                context.fillStyle = "hsl(" + hue + ", " + sat + "%, 88%)";
                context.fill();
            }
        </script>

        <style is:global>
            @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

            canvas {
                display: inline;
                background: #111;
                width: auto;
                height: auto;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
            }

            html {
                scroll-behavior: smooth;
                overflow-x: hidden;
            }

            html::-webkit-scrollbar {
                display: none;
            }

            * {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }

            :root {
                --background-color: #111;
                --text-color: white;
                --link-hover-color: #0ea5e9;
            }

            h2 {
                font-size: 2.5rem;
                font-weight: 400;
            }

     

            p {
                font-size: 1.5rem;
                font-weight: 300;
            }

            a {
                text-decoration: none;
                color: var(--text-color);
            }

            a:hover {
                color: var(--link-hover-color);
            }

            body {
                background-color: var(--background-color);
                font-family: "Outfit", sans-serif;
                color: var(--text-color);
                text-align: center;
            }

            .container {
                margin-right: auto;
                margin-left: auto;
                padding-right: 0.62rem;
                padding-left: 0.62rem;
                max-width: 960px;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            section h2 {
                margin-bottom: 1rem;
            }

            .cool-text {
                animation: cool-text-animation 4s infinite linear;
                color: transparent;
                background: -o-radial-gradient(
                    circle,
                    rgba(63, 94, 251, 1) 0%,
                    rgba(252, 70, 107, 1) 100%
                );
                background: radial-gradient(
                    circle,
                    rgba(63, 94, 251, 1) 0%,
                    rgba(252, 70, 107, 1) 100%
                );
                background-size: 300% 100%;
                -webkit-background-clip: text;
                background-clip: text;
                text-fill-color: transparent;
            }

            @keyframes cool-text-animation {
                0% {
                    background-position: 0 0;
                }
                50% {
                    background-position: 100% 0;
                }
                100% {
                    background-position: 0 0;
                }
            }


            @media (max-width: 768px) {
                h2 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: 1rem;
                }
            }
        </style>
    </body>
</html>
